* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(109, 189, 238);
}

div {
  background-color: white;
}

h1 {
}

h4 {
}

form {
}

#id {
}

.pwd {
}

.fpwd {
}

#id {
}

#btn {
}

p {
}
